.movie-card {
  position: relative;
  width: 330px;
  height: 260px;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: all 0.4s;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.movie-card:focus, .movie-card:hover {
  transform: scale(1.3);
  z-index: 10;
  background-color: black;
}

.movie-card img {
  width: 100%;
  height: 60%;
}

 .card-info {
  padding: 0.5rem 1rem;
}

.card-info h2 {
  font-size: 1rem;
  color: gray;
}

.card-info h1 {
  font-size: 1.rem;
  color: var(--color-white);
}

.link-container {
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: gray;
}