.movie-card {
  width: 30rem;
  height: 16rem;
  margin: 1rem;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 60%;
}

 .card-info {
  padding: 0.5rem 1rem;
}

.card-info h2 {
  font-size: 1rem;
  color: gray;
}

.card-info h1 {
  font-size: 1.rem;
  color: var(--color-white);
}

.link-container {
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: gray;
}