#movie-list header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  color: var(--color-white);
  padding: 0 6rem;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

#movie-list header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#movie-list header a {
  background-color: rgba(255,255,255, 0.1);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: all 0.2s;
}

#movie-list header a:hover {
  opacity: 0.6;
}

#movie-list main {
  margin: 2rem 6rem;
}

#movie-list main #movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#movie-list main h3 {
  color: gray;
  margin-top: 2rem;
}

@media (min-width: 1000px) {
  #movie-list main #movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1600px) {
  #movie-list main #movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
