#movie-list header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  color: var(--color-white);
  padding: 0 6rem;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

#movie-list header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: Bold;
}

#movie-list header a {
  background-color: rgba(255,255,255, 0.1);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: all 0.2s;
}

#movie-list header a:hover {
  opacity: 0.6;
}

#movie-list main {
  margin: 2rem 6rem;
}

#movie-list main #movies {
  display: flex;
  overflow: scroll;
}