.form-field {
  margin-bottom: 1rem;
}

.form-field label {
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 0;
}

.form-field input, select, textarea {
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.6rem 0.4rem;
  background-color: gray;
  border: none;
  border-radius: 0.2rem;
  color: white
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333;
  opacity: 1; /* Firefox */
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#button-container button {
  background-color: rgba(255,255,255, 0.1);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: all 0.2s;
  border: none;
  color: white;
  width: 250px;
  margin-top: 0.5rem;
}

#button-container button:hover {
  opacity: 0.6;
}